<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>SIMAS | 404</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="<?= base_url('assets/images/favicon.ico') ?>">

	<!-- CSS -->
	<link href="<?= base_url('assets/css/bootstrap.min.css') ?>" rel="stylesheet">
	<link href="<?= base_url('assets/css/icons.css') ?>" rel="stylesheet">
	<link href="<?= base_url('assets/css/style.css') ?>" rel="stylesheet">

</head>

<body>

	<!-- Background -->
	<div class="accountbg"></div>

	<div class="wrapper-page">
		<div class="card shadow-lg">
			<div class="card-body text-center">

				<h1>404!</h1>
				<h3>Page Not Found</h3>

				<br>

				<a class="btn btn-danger mb-4" href="<?= base_url('/') ?>">
					Kembali ke Dashboard
				</a>

			</div>
		</div>
	</div>

	<!-- JS -->
	<script src="<?= base_url('assets/js/jquery.min.js') ?>"></script>
	<script src="<?= base_url('assets/js/popper.min.js') ?>"></script>
	<script src="<?= base_url('assets/js/bootstrap.min.js') ?>"></script>
	<script src="<?= base_url('assets/js/modernizr.min.js') ?>"></script>
	<script src="<?= base_url('assets/js/waves.js') ?>"></script>
	<script src="<?= base_url('assets/js/jquery.slimscroll.js') ?>"></script>
	<script src="<?= base_url('assets/js/jquery.nicescroll.js') ?>"></script>
	<script src="<?= base_url('assets/js/jquery.scrollTo.min.js') ?>"></script>
	<script src="<?= base_url('assets/js/app.js') ?>"></script>

</body>
</html>